@model MarkoKosticIT6922.Models.Greska

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Greska</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resenje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resenje.ResenjeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GreskaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
