@model IEnumerable<MarkoKosticIT6922.Models.Greska>

@{
    ViewData["Title"] = "Greske";
}

<h1>Greske</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resenje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resenje.ResenjeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GreskaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GreskaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GreskaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
