@model MarkoKosticIT6922.Models.Resenje

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resenje</h4>
<hr />
@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="alert alert-danger">@error.ErrorMessage</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="ZadatakId" class="control-label"></label>
                    <select asp-for="ZadatakId" class ="form-control" asp-items="ViewBag.ZadatakId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="KorisnikId" class="control-label"></label>
                    <select asp-for="KorisnikId" class ="form-control" asp-items="ViewBag.KorisnikId"></select>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Odobreno" /> @Html.DisplayNameFor(model => model.Odobreno)
                    </label>
                </div>
            } else {
                    <input type="hidden" asp-for="ZadatakId" value="@ViewBag.ZadatakId" />
                    <input type="hidden" asp-for="KorisnikId" value ="@ViewBag.KorisnikId" />
                    <input type="hidden" asp-for="Odobreno" value="false" />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.ReturnUrl != null)
    {
        <a href="@ViewBag.ReturnUrl">Back to list</a>
    } else {
        <a asp-action="Index">Back to list</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
