@model MarkoKosticIT6922.Models.Resenje

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Resenje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Zadatak)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Zadatak.ZadatakId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Korisnik)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Korisnik.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Odobreno)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Odobreno)
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ResenjeId" />

        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @if (ViewBag.ReturnUrl != null)
        {
            <a href="@ViewBag.ReturnUrl" class="btn btn-secondary">Back to list</a>
        } else {
            <a asp-action="Index" class="btn btn-secondary">Back to list</a>
        }
    </form>
</div>
