@model IEnumerable<MarkoKosticIT6922.Models.Resenje>

@{
    ViewData["Title"] = "Resenja";
}

<h1>Resenja</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zadatak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odobreno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zadatak.ZadatakId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odobreno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResenjeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResenjeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResenjeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
